BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  ##OEROOT##/../poky/meta \
  ##OEROOT##/../poky/meta-poky \
  ##OEROOT##/../poky/meta-yocto-bsp \
  ##OEROOT##/../meta-security \
  ##OEROOT##/../meta-virtualization \
  ##OEROOT##/../meta-raspberrypi \
  ##OEROOT##/../meta-greatbear \
  ##OEROOT##/../meta-openembedded/meta-networking \
  ##OEROOT##/../meta-openembedded/meta-python \
  ##OEROOT##/../meta-openembedded/meta-perl \
  ##OEROOT##/../meta-openembedded/meta-filesystems \
  ##OEROOT##/../meta-openembedded/meta-oe \
  "
